@model lab1_mvc.Models.Person

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>

 
</div> 
    <p>@Model.name</p>
    <p>@Model.address</p>

    @* <p>
        Name: @ViewBag.name
        Address: @ViewBag.address
    </p> *@

<div>
    <p>
        
    </p>
</div>